<template>
  <div class="art-item-wrapper">
    <div class="art-image-wrapper">
      <a :href="item.image" target="_blank" rel="nofollow noopener noreferrer">
        <img class="art-image" :src="item.thumbnail" :title="title" :alt="title" />
      </a>
    </div>

    <div class="art-subtitle">
      <span title="Artist">{{ artist }}</span>
      <span v-if="item.month && item.day" title="Date">{{ date }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object,
  },
  computed: {
    artist() {
      return this.item.artist;
    },
    date() {
      return `${this.item.month}/${this.item.day}`;
    },
    title() {
      return `Artist: ${this.item.artist}`;
    },
  },
};
</script>

<style lang="scss">
$borderWidth: 4px;

.art-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 12px;
}

.art-subtitle {
  display: flex;
  justify-content: space-between;

  font-size: 0.85rem;
  line-height: 1;

  margin: 8px 0;
}

.art-image-wrapper {
  .art-item-wrapper:nth-child(odd) & {
    border: $borderWidth solid #0078ff;
  }

  .art-item-wrapper:nth-child(even) & {
    border: $borderWidth solid #ff7800;
  }
}

.art-image {
  width: 100%;
}
</style>
