<template>
  <div class="art-container">
    <ArtListItem v-for="(item, index) in items" :key="index" :item="item" />
  </div>
</template>

<script>
import ArtListItem from "@/components/ArtListItem";

export default {
  name: "ArtList",
  components: {
    ArtListItem,
  },
  props: {
    items: Array,
  },
};
</script>
