<template>
  <li>
    <span
      ><span v-html="date"></span>: {{ name }}{{ displayFlags }}{{ displayNotes
      }}<template v-if="maybe"> (maybe)</template></span
    >
  </li>
</template>

<script>
const flagsToSymbols = {
  volunteer: "^",
  staff: "*",
};

export default {
  name: "EventListItem",
  props: {
    date: String,
    name: String,
    notes: String,
    flags: Array,
    maybe: Boolean,
  },
  computed: {
    displayFlags() {
      return (this.flags ?? []).map((flag) => flagsToSymbols[flag]).join("");
    },
    displayNotes() {
      return this.notes ? ` (${this.notes})` : "";
    },
  },
};
</script>
