<template>
  <section>
    <h2>Event attendance</h2>

    <h3>Future</h3>
    <div v-for="[year, instances] in futureInstances" :key="year">
      <h4>{{ year }} ({{ instances.length }})</h4>
      <ul>
        <EventListItem
          v-for="(instance, index) in instances"
          :key="index"
          :date="instance.date"
          :name="instance.name"
          :notes="instance.notes"
          :flags="instance.flags"
          :maybe="instance.maybe"
        />
      </ul>
    </div>

    <h3>Attended</h3>
    <div v-for="[year, instances] in pastInstances" :key="year">
      <h4>{{ year }} ({{ instances.length }})</h4>
      <ul>
        <EventListItem
          v-for="(instance, index) in instances"
          :key="index"
          :date="instance.date"
          :name="instance.name"
          :notes="instance.notes"
          :flags="instance.flags"
        />
      </ul>
    </div>

    <p>^ volunteer, * staff</p>
  </section>
</template>

<script>
import EventListItem from "@/components/EventListItem";

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

function getShortMonthName(n) {
  let name = months[n - 1];
  return name.length <= 4 ? name : name.substring(0, 3);
}

function processEvents(events) {
  const pastInstances = {};
  const futureInstances = {};

  let today = new Date().toISOString().slice(0, 10);

  for (let { name, instances } of events) {
    for (let instance of instances) {
      let year = instance.start.substring(0, 4);

      let startMonth = parseInt(instance.start.substring(5, 7));
      let startDay = parseInt(instance.start.substring(8, 10));
      let startMonthName = getShortMonthName(startMonth);

      let endMonth = parseInt(instance.end.substring(5, 7));
      let endDay = parseInt(instance.end.substring(8, 10));
      let endMonthName = getShortMonthName(endMonth);

      let entry = {
        name,
        date:
          startMonth === endMonth
            ? `${startMonthName} ${startDay}&ndash;${endDay}`
            : `${startMonthName} ${startDay}&ndash;${endMonthName} ${endDay}`,
        ...instance,
      };

      let collection = instance.start.localeCompare(today) > 0 ? futureInstances : pastInstances;

      if (year in collection) {
        collection[year].push(entry);
      } else {
        collection[year] = [entry];
      }
    }
  }

  for (let instances of Object.values(pastInstances)) {
    instances.sort((a, b) => b.start.localeCompare(a.start));
  }

  for (let instances of Object.values(futureInstances)) {
    instances.sort((a, b) => b.start.localeCompare(a.start));
  }

  // eslint-disable-next-line no-unused-vars
  return {
    pastInstances: Object.entries(pastInstances).sort(([year1, _1], [year2, _2]) => year2 - year1),
    futureInstances: Object.entries(futureInstances).sort(([year1, _1], [year2, _2]) => year2 - year1),
  };
}

export default {
  components: {
    EventListItem,
  },
  props: {
    events: Array,
  },
  data() {
    return {
      pastInstances: [],
      futureInstances: [],
    };
  },
  mounted() {
    let { pastInstances, futureInstances } = processEvents(this.events);

    this.pastInstances = pastInstances;
    this.futureInstances = futureInstances;
  },
};
</script>
