<template>
  <header>
    <h1>Blue Dog Zone</h1>

    <div class="note">Doktor &middot; 25 &middot; blue dog &middot; he/him</div>
    <div class="note">Boston, MA, US</div>

    <div class="banner">
      <img src="@/assets/images/banner.jpg" alt="Website banner" />
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
};
</script>
