<template>
  <section>
    <h2>{{ list.name }}</h2>
    <p>{{ list.description }}</p>

    <ul class="links">
      <LinkListItem v-for="(item, index) in list.items" :key="index" :item="item" />
    </ul>
  </section>
</template>

<script>
import LinkListItem from "@/components/LinkListItem";

export default {
  name: "LinkList",
  components: {
    LinkListItem,
  },
  props: {
    list: Object,
  },
};
</script>
