<template>
  <li v-if="item.link" class="link">
    <div class="link-title">
      <span>
        <template v-if="item.subtitle">{{ item.title }}: </template>
        <component :is="linkComponent" v-bind="linkAttrs">{{ linkText }}</component>
      </span>
    </div>

    <div v-if="item.description" class="link-description">
      <span v-html="item.description"></span>
    </div>

    <div v-if="item.note" class="link-note">
      <span>{{ item.note }}</span>
    </div>
  </li>
</template>

<script>
export default {
  name: "LinkListItem",
  props: {
    item: Object,
  },
  computed: {
    linkAttrs() {
      let attrs = {
        title: this.item.title,
      };

      if (this.item.internal) {
        attrs.to = this.item.link;
      } else {
        attrs.href = this.item.link;
      }

      return attrs;
    },
    linkComponent() {
      return this.item.internal ? "RouterLink" : "a";
    },
    linkText() {
      return this.item.subtitle || this.item.title;
    },
  },
};
</script>

<style lang="scss">
.link {
  margin-bottom: 0.7rem;
}

.link-description {
  white-space: pre-wrap;
}

.link-note {
  white-space: pre-wrap;
  color: rgb(140, 140, 140);
}
</style>
