// Functions

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through (-$exponent) {
      $value: $value / $number;
    }
  }

  @return $value;
}

// Colors

$blue: rgb(0, 120, 255);
$orange: rgb(255, 120, 0);
$dark-gray: rgb(20, 20, 20);
$middle-gray: rgb(120, 120, 120);
$light-gray: rgb(220, 220, 220);

@mixin heading-font() {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 1;
}

@mixin text-font() {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

// Top-level elements

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14pt;

  @media (min-width: 900px) {
    font-size: 16pt;
  }
}

body {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  background-color: $dark-gray;

  color: $light-gray;
  @include text-font();

  &.wide {
    max-width: 1200px;
  }
}

// Headers and footers

$max-font-size: 2.75rem;
$max-margin-top: 2rem;
$max-margin-bottom: 1.1rem;

@mixin headers($scale) {
  @for $i from 1 through 6 {
    $current-scale: pow($scale, $i - 1);

    h#{$i} {
      @include heading-font();
      font-size: $max-font-size / $current-scale;

      margin: 0;
      margin-top: $max-margin-top / $current-scale;
      margin-bottom: $max-margin-bottom / $current-scale;
      padding: 0;
    }
  }
}

@media (max-width: 900px) {
  @include headers(1.5);
}

@media (min-width: 901px) {
  @include headers(1.3);
}

header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  color: $middle-gray;
}

header,
footer {
  text-align: center;
}

// Other elements

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid $middle-gray;
  height: 1px;
}

img {
  display: block;
}

nav, section,
pre,
ol, ul,
p {
  margin: 1rem 0;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
}

// Utility classes

$outline-width: 4px;

.banner {
  margin: 1.5rem 0;

  &,
  img {
    width: 100%;
  }

  img {
    outline: $outline-width solid $blue;
    outline-offset: -$outline-width + 1;

    @media (max-width: 900px) {
      object-fit: cover;
      object-position: 60%;
      height: 30vh;
    }
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.note {
  color: $middle-gray;
}
