<template>
  <main>
    <header>
      <RouterLink to="/photos">&larr; photos</RouterLink>
      <h1>{{ album.title }}</h1>
      <p v-if="album.description" class="note">{{ album.description }}</p>
    </header>

    <div>
      <dl>
        <template v-for="[key, value] in Object.entries(metadata)">
          <dt :key="`dt-${key}`">{{ key }}</dt>
          <dd :key="`dd-${key}`" v-html="value"></dd>
        </template>
      </dl>
    </div>

    <div class="photos">
      <div v-for="(item, index) in album.images" class="photo-wrapper" :key="index">
        <div class="photo">
          <div>
            <a :href="item.image" target="_blank" rel="noreferrer">
              <img class="photo-image" :src="item.thumbnail" alt="Album image" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import allAlbums from "@/static/manifest_photos";

export default {
  async asyncData({ params }) {
    return { slug: params.album };
  },
  computed: {
    album() {
      return allAlbums.filter((album) => album.slug === this.slug)[0];
    },
    metadata() {
      return {
        Photographer: this.album.photographer,
        Date: this.album.date,
        Location: this.album.location,
      };
    },
  },
  head: {
    bodyAttrs: {
      class: "wide",
    },
  },
};
</script>

<style lang="scss">
dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;

  font-weight: bold;
  text-align: right;
}

dd {
  grid-column-start: 2;

  margin-left: 1rem;
}

$thumbnailSize: 200px;
$itemSpacing: 5px;
$borderWidth: 3px;

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin: 0 (-$itemSpacing);
}

.photo-wrapper {
  width: 100%;
  padding: $itemSpacing;

  @for $i from 2 through 5 {
    @media (min-width: $thumbnailSize * ($i) + 1) and (max-width: $thumbnailSize * ($i + 1)) {
      width: 100% / $i; // 50%, 33%, 25%
    }
  }
  @media (min-width: $thumbnailSize * 6 + 1) {
    width: (100%) / 6;
  }
}

.photo {
  width: 100%;
  overflow: hidden;

  .photo-wrapper:nth-child(odd) & {
    border: $borderWidth solid #0078ff;
  }

  .photo-wrapper:nth-child(even) & {
    border: $borderWidth solid #ff7800;
  }
}

.photo-image {
  width: 100%;
}

.photo-image-blur {
  filter: blur(10px);
}
</style>
