<template>
  <main>
    <header>
      <RouterLink to="/">&larr; index</RouterLink>
    </header>

    <p class="note"></p>

    <div v-for="[year, items] of itemsByYear" :key="year" class="items-section">
      <h2>{{ year }}</h2>

      <ul class="photo-albums">
        <li v-for="(item, index) in items" class="photo-album" :key="index">
          <router-link :to="`/photos/${item.slug}`">{{ item.title }}</router-link>
        </li>
      </ul>
    </div>
  </main>
</template>

<script>
import allAlbums from "@/static/manifest_photos";

const groupBy = function (items, f) {
  return items.reduce(function (ret, item) {
    (ret[f(item)] = ret[f(item)] || []).push(item);
    return ret;
  }, {});
};

export default {
  computed: {
    itemsByYear() {
      let albums = allAlbums.sort((a, b) => b.date?.localeCompare(a.date ?? "") ?? 0);

      if (!this.$route.query.nsfw) {
        albums = albums.filter((album) => (album.rating || "safe") === "safe");
      }

      let groups = groupBy(albums, (album) => album.date?.substring(0, 4) ?? "No date");

      // eslint-disable-next-line no-unused-vars
      return Object.entries(groups).sort(([year1, _1], [year2, _2]) => year2 - year1);
    },
  },
};
</script>

<style>
header {
  margin-bottom: 2rem;
}

.items-section {
  margin: 2rem 0;
}
</style>
