<template>
  <main>
    <header>
      <RouterLink to="/">&larr; index</RouterLink>
    </header>

    <p class="note"></p>

    <div v-for="[year, items] of itemsByYear" :key="year" class="items-section">
      <h2>{{ year }}</h2>
      <ArtList :items="items" />
    </div>
  </main>
</template>

<script>
import ArtList from "@/components/ArtList";
import allItems from "@/static/manifest_art";

const groupBy = function (items, f) {
  return items.reduce(function (ret, item) {
    (ret[f(item)] = ret[f(item)] || []).push(item);
    return ret;
  }, {});
};

export default {
  components: {
    ArtList,
  },
  computed: {
    itemsByYear() {
      let items = [...allItems];

      for (let item of items) {
        let date = item["dates.done"];

        if (!date) {
          item.year = null;
          item.month = null;
          item.day = null;

          continue;
        }

        item.year = parseInt(date.substring(0, 4));
        item.month = parseInt(date.substring(5, 7));
        item.day = parseInt(date.substring(8, 10));
      }

      if (!this.$route.query.nsfw) {
        items = items.filter((item) => (item.rating || "safe") === "safe");
      }

      items.sort((a, b) => {
        let aDate = a["dates.done"];

        if (!aDate) {
          return -1;
        }

        let bDate = b["dates.done"];

        if (!bDate) {
          return 1;
        }

        // Sort by descending date
        return bDate.localeCompare(aDate);
      });

      let groups = groupBy(items, (item) => item.year ?? "No date");

      // eslint-disable-next-line no-unused-vars
      return Object.entries(groups).sort(([year1, _1], [year2, _2]) => year2 - year1);
    },
  },
  head: {
    bodyAttrs: {
      class: "wide",
    },
  },
};
</script>

<style>
header {
  margin-bottom: 2rem;
}

.items-section {
  margin: 2rem 0;
}
</style>
