<template>
  <main>
    <header>
      <RouterLink to="/">&larr; index</RouterLink>
    </header>

    <section class="container">
      <div class="card" :class="classes" @click="onClick">
        <div class="inner">
          <div class="front">
            <img
              class="business-card"
              src="https://doktor.nyc3.digitaloceanspaces.com/doktorthehusky.com/images/business_card.png"
              title="Blue dog!"
              alt="Business card front"
            />
          </div>
          <div class="back">
            <img
              class="business-card"
              src="https://doktor.nyc3.digitaloceanspaces.com/doktorthehusky.com/images/business_card_back.jpg"
              title="Blue dog!"
              alt="Business card back"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="details">
      <p>art by <a href="https://www.furaffinity.net/user/pulex">Pulex</a> &middot; photo by me</p>
    </section>
  </main>
</template>

<script>
export default {
  data() {
    return {
      hover: false,
    };
  },
  computed: {
    classes() {
      return {
        hover: this.hover,
      };
    },
  },
  methods: {
    onClick() {
      this.hover = !this.hover;
    },
  },
  head: {
    bodyAttrs: {
      class: "",
    },
  },
};
</script>

<style lang="scss" scoped>
$card-margin: 2.5rem;
$short: 4;
$long: 7;
$height: 75vh;
$width: $short * $height / $long;

header {
  margin-bottom: $card-margin;
}

.container {
  display: flex;
  justify-content: center;

  filter: drop-shadow(0 0 5px white);
  overflow: hidden;
  width: 100%;
}

.card {
  width: $width;
  height: $height;

  cursor: pointer;

  &.hover .inner {
    transform: rotateY(180deg);
  }
}

.inner {
  width: 100%;
  height: 100%;

  position: relative;
  transition: transform 1.2s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;
}

.front {
}

.back {
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: $card-margin;
  margin-bottom: 0;

  font-size: 0.7rem;
  line-height: 1;

  p {
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
</style>
