<template>
  <main>
    <Header />

    <section>
      <p>I'm Doktor! I live in Boston, MA. I like taking photos, tinkering with computers, and eating food.</p>

      <p>
        I'm a photographer! I specialize in portraits, events, and nature. You can find my portfolio (selected photos)
        on <a href="https://doktortakes.photos">doktortakes.photos</a> and my complete gallery (all photos) on
        <a href="https://gallery.doktortakes.photos">gallery.doktortakes.photos</a>. I also post my photos on several
        other platforms; you'll find links below.
      </p>

      <p>
        I'm the Photo Department Lead for <a href="https://anthronewengland.com">Anthro New England</a> (ANE), a furry
        convention held annually in Boston, MA. The Photo Department organizes and runs several photography & fursuiting
        events at ANE, including the Photo Room, Pooltoy Party!, Fursuit Photo, and Fursuit Parade.
      </p>

      <h2>Fursona</h2>

      <p>I'm a blue dog! You can find all of the blue dog art that I've commissioned <a href="art">here</a>.</p>

      <h2>Fursuit</h2>

      <p>
        My fursuit was made by the
        <a href="https://twitter.com/fluffymischiefs">Mischief Makers</a>. I received it in March 2017. You can find
        links to lots of blue dog fursuit photos below.
      </p>
    </section>

    <LinkList v-for="(list, index) in links" :key="index" :list="list" />

    <EventList :events="events" />

    <Footer />
  </main>
</template>

<script>
import EventList from "@/components/EventList";
import Footer from "@/components/Footer";
import Header from "@/components/Header.vue";
import LinkList from "@/components/LinkList";
import events from "@/data/events";
import links from "@/data/links";

export default {
  name: "Index",
  components: {
    EventList,
    Footer,
    Header,
    LinkList,
  },
  data() {
    return {
      events,
      links,
    };
  },
};
</script>
