<template>
  <main>
    <header>
      <RouterLink to="/">&larr; index</RouterLink>
    </header>

    <div class="reference">
      <a :href="require('~/assets/images/reference.png')" target="_blank" rel="noreferrer">
        <img
          class="reference-image"
          src="~/assets/images/reference.png"
          title="Reference sheet - click to open image in new tab"
          alt="Reference sheet"
        />
      </a>

      <div class="reference-notes">
        <span>version 5</span>
        <span>art by <a href="https://www.furaffinity.net/user/pulex">Pulex</a></span>
      </div>
    </div>

    <div class="colors">
      <div class="color" v-for="[colorName, colorHex, description] in colors" :key="colorName">
        <div class="color-text color-name" :style="colorNameStyle(colorHex)">{{ colorName }}</div>
        <div class="color-block" :style="colorBlockStyle(colorHex)" :title="colorName"></div>
        <div class="color-text color-description" v-html="description"></div>
        <div class="color-text color-code">{{ colorHex }}<br />{{ hexToRgb(colorHex) }}</div>
      </div>
    </div>

    <dl>
      <template v-for="[key, value] in Object.entries(metadata)">
        <dt :key="`dt-${key}`">{{ key }}</dt>
        <dd :key="`dd-${key}`" v-html="value"></dd>
      </template>
    </dl>
  </main>
</template>

<script>
export default {
  name: "Reference",
  computed: {
    colors() {
      return [
        ["blue", "#0f97e5", "primary"],
        ["white", "#ffffff", "secondary"],
        ["gray", "#3b3b3b", "tertiary"],
        ["orange", "#fe8000", "eyes"],
        ["pink", "#ff498e", "tongue"],
      ];
    },
    metadata() {
      return {
        "Name": "Doktor",
        "Species": "Blue dog (<em>Canis lupus familiaris caeruleus</em>)",
        "Age": "25",
        "Height": "6 ft (1.8288 m)",
        "Weight": "170 lb",
        "Favorite animal": "Blue dog",
        "Favorite color": "Blue",
        "Favorite drink": "Bubble tea",
        "Favorite snack":
          '<a href="https://en.wikipedia.org/wiki/Pineapple_cake" rel="noreferrer noopener nofollow">Pineapple cake</a>',
      };
    },
  },
  methods: {
    colorBlockStyle(color) {
      return {
        "background-color": color,
      };
    },
    colorNameStyle(color) {
      return {
        color: color,
      };
    },
    hexToRgb(hex) {
      let n = parseInt(hex.replace("#", ""), 16);
      let r = (n >> 16) & 255;
      let g = (n >> 8) & 255;
      let b = n & 255;

      return `rgb(${r}, ${g}, ${b})`;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  margin: 2rem 0;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;

  font-weight: bold;
  text-align: right;
}

dd {
  grid-column-start: 2;

  margin-left: 1.5rem;
}

.reference-image {
  width: 100%;
}

.reference-notes {
  display: flex;
  justify-content: space-between;

  margin-top: 2px;

  font-size: 0.9rem;
}

.colors {
  display: flex;
  flex-wrap: wrap;

  margin: 2rem 0;
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  @media (min-width: 800px) {
    width: 20%;
  }
}

.color-block {
  width: 100%;
  height: 200px;

  @media (min-width: 1000px) {
    height: 250px;
  }
}

.color-text {
  border-radius: 2px;
  padding: 1px 6px;

  color: white;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  white-space: pre-line;
}

.color-name {
  width: 100%;
  border-radius: 0;

  font-size: 2.4rem;
  text-shadow: 2px 2px 1px black;
}

.color-description {
  font-size: 1.5rem;
}

.color-code {
  font-size: 1rem;
}
</style>
