<template>
  <img class="wolf" src="@/assets/images/wolf.jpg" title="Jr. Mr. Wolf" alt="Jr. Mr. Wolf" />
</template>

<style lang="scss">
.wolf {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
</style>
